.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #f9fbfc;
  transition: all 0.3s;
  padding: 0 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9fbfc;
    height: 66px;
    // overflow: hidden;
    transition: all 0.3s;
    @media (max-width: 768px) {
      flex-direction: row-reverse;
    }
    .navigation {
      display: flex;
      @media (max-width: 768px) {
        display: none;
      }
      .nav-item {
        transition: all 0.3s;
        border-bottom: transparent;
        position: relative;
        // i {
        //   transition: transform 0.3s ease;
        //   &:hover {
        //     transform: rotate(180deg);
        //   }
        // }

        a {
          padding: 0 20px;
          font-size: 14px;
          font-weight: 600;
          color: #2c2c2c;
          text-decoration: none;
          display: flex;
          align-items: center;
          height: 66px;
          transition: all 0.3s;
        }
        &:hover,
        &.active {
          a {
            color: blueviolet;
          }
          border-bottom: 2px solid blueviolet;
        }
        &:hover {
          .drop-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .logo-group {
      display: flex;
      align-items: flex-end;
      .block-center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .logo {
          padding: 12px 12px;
          img {
            width: 150px;
            height: 66px;
            object-fit: cover;
          }
        }
        .slogan {
          font-size: 20px;
          font-weight: 600;
          font-style: italic;
          color: red;
          @media (max-width: 480px) {
            display: none;
          }
        }
      }
    }
    .group-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .drop-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    background: #fff;
    padding: 0 20px;
    width: 345px;
    box-shadow:
      0px 0px 1px rgba(44, 44, 44, 0.05),
      0px 16px 24px rgba(44, 44, 44, 0.1);
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    .sub-drop-menu {
      display: block;
      padding: 20px 0;
      border-bottom: 1px solid #eaeaea;
      b {
        font-size: 16px;
      }
      span {
        font-size: 14px;
        color: #2c2c2c;
      }
      &:hover {
        color: blueviolet;
      }
    }
  }
}
