.slick-track {
  display: flex;
  align-items: center;
}
.slick-slide {
  gap: 12px;
}
.partner {
  margin-bottom: 120px;
  padding-top: 120px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 885px;
    background: linear-gradient(0deg, transparent 0%, #fdf0ff 100%);
    z-index: -1;
  }
}
.thumb-partner {
  text-align: center;
  width: 100%;
  height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  transition: all 0.3s;
  border: 1px solid $neutral-grey-300;
  border-radius: 8px;
  margin-bottom: $spacing-xxl;
  @media (max-width: 480px) {
    padding: 0 20px;
  }
  &:hover {
    filter: grayscale(0%);
  }
  img {
    max-width: 120px;
    max-height: 112px;
    @media (max-width: 480px) {
      max-width: 90px;
    }
  }
}
.slide-partner.slick-slider {
  .thumb-partner {
    border: 0;
  }
}
.shape-partner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  z-index: -1;
  display: none;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    transform: scale(2) translateY(-65%);
  }
}
