.banner-home {
  width: calc(100% - 48px);
  margin-left: 24px;
  margin-bottom: 64px;
  position: relative;
  z-index: 20;
  min-height: 600px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent),
      linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    border-radius: 8px;
    pointer-events: none; /* để không ảnh hưởng click */
  }
  img {
    width: 100%;
    display: block;
    border-radius: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    height: 600px;
  }
  .caption-home {
    width: 100%;
    padding: 0 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    h1 {
      color: #fff;
      font-size: 50px;
      line-height: 70px;
      font-weight: 700;
      margin-bottom: 12px;
      max-width: 656px;
      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 48px;
      }
    }
    p {
      max-width: 561px;
      font-size: 20px;
      color: hsla(0, 0%, 100%, 0.9);
      margin-bottom: 32px;
    }
  }
}
.home-project {
  .project-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    .project-thumb-top {
      width: 50%;
      img {
        width: 100%;
        display: block;
        height: 374px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid #eee;
      }
    }
    .project-content {
      width: 50%;
      padding-left: 24px;
      .project-status {
        background-color: #ffd200;
        color: #171717;
      }
      .comming-status {
        display: inline-block;
        font-size: 12px;
        line-height: 18px;
        padding: 6px 12px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: 700;
      }
      small {
        font-size: 12px;
        font-weight: 400;
        text-transform: none;
        margin-left: 5px;
        border-left: 1px solid #b2b2b2;
        padding-left: 5px;
      }
      h3 {
        color: #373737;
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        margin-top: 32px;
        margin-bottom: 4px;
        transition: all 0.3s;
        &:hover {
          color: #6100d2;
        }
      }
      .solution-name {
        font-family: "Rowdies", sans-serif;
      }
      .solution-des {
        display: block;
        font-size: 16px;
        line-height: 21px;
        color: #212020;
        font-style: italic;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative; // QUAN TRỌNG
        &::after {
          content: "";
          position: absolute;
          top: 40px;
          left: 0;
          background-color: #eaeaea;
          width: 100%;
          height: 1px;
        }
      }
      .price {
        margin-bottom: 20px;
      }
      .category-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .tag {
          padding: 4px 10px;
          font-size: 13px;
          line-height: 1.4;
          border-radius: 999px; // pill
          background-color: #f1f3f5;
          color: #333;
          white-space: nowrap;

          transition: all 0.2s ease;
          cursor: pointer;

          &:hover {
            background-color: #989ccb;
          }
        }
      }
    }
  }
  .solution-item {
    text-decoration: none;
    font-weight: 500;
    color: #212020;

    width: 100%;
    display: block;
    .solution-thumb {
      position: relative;
      width: 100%;
      margin-bottom: 12px;
      border: 1px solid #eaeaea;
      border-radius: 8px;
      overflow: hidden;
      transition: all 0.3s;
      aspect-ratio: 16 / 9;
    }
  }
}
