.slider-container {
  display: flex;
  justify-items: center;
  align-items: center;
  .slick-slider {
    position: relative;
    align-self: center;
    width: 80%;
    .slick-prev {
      position: absolute;
      top: 50%;
      left: 10px; // tuỳ bạn
      transform: translateY(-50%);
      z-index: 100;
      width: 40px;
      height: 40px;
    }
    .slick-next {
      position: absolute;
      top: 50%;
      right: 10px; // tuỳ bạn
      transform: translateY(-50%);
      z-index: 100;
      width: 40px;
      height: 40px;
    }
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      display: inline-block;
    }
  }
}
