.slider-container {
  display: flex;
  justify-items: center;
  align-items: center;
  .slick-slider {
    position: relative;
    align-self: center;
    width: 100%;
    .slick-prev {
      position: absolute;
      top: 50%;
      left: 10px; // tuỳ bạn
      transform: translateY(-50%);
      z-index: 100;
      width: 80px;
      height: 80px;
      &::before {
        font-size: 50px;
      }
    }
    .slick-next {
      position: absolute;
      top: 50%;
      right: 10px; // tuỳ bạn
      transform: translateY(-50%);
      z-index: 100;
      width: 80px;
      height: 80px;
      font-size: 50px;
      &::before {
        font-size: 50px;
      }
    }
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      display: inline-block;
    }
  }
  .img-wrapper {
    position: relative;
    width: 100%;
    height: 500px;
  }
}
